services:
  - type: worker
    name: discord-bot
    env: node
    nodeVersion: 18
    region: frankfurt
    plan: free
    buildCommand: "npm install"
    startCommand: "npm start"
    envVars:
      - key: TOKEN
        sync: false
      - key: MONGO_URL
        sync: false
      - key: PORT
        value: 3000
      - key: URL
        sync: false